:root {
    --font-primary: 'Source Sans Pro', sans-serif;
    --font-secondary: 'Source Code Pro', monospace;
    --color-primary: #16e0bd;
    --color-dark: #303030;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--font-primary);
    font-size: 1rem;
    line-height: 1.5;
}

/*===================== JS =====================*/

.js-nav-open {
    left: 0;
}

.js-stop-scrolling {
    overflow: hidden;
    height: 100%;
}

/*===================== LINK =====================*/

a {
    text-decoration: none;
}

.nav-link {
    font-weight: 900;
    color: white;
}

.nav-link:hover {
    color: var(--color-primary);
}

/*===================== IMAGE =====================*/

img {
    max-width: 100%;
}

svg {
    max-width: 8rem;
    font-family: var(--font-secondary);
    font-weight: 400;
}

/*===================== TEXT =====================*/

h1 {
    font-size: 3rem;
    font-weight: 300;
}

h2,
nav {
    font-size: 2.25rem;
}

h3,
.subtitle,
.footer-emailto {
    font-size: 1.25rem;
}

.subtitle-intro,
.subtitle-about {
    font-family: var(--font-secondary);
}

h1,
h2,
h3,
.subtitle {
    line-height: 1.3;
}

.footer-emailto {
    font-weight: 900;
}

/*===================== BUTTON =====================*/

.nav-button {
    z-index: 100;
}

.btn {
    font-family: inherit;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*===================== CONTAINER =====================*/

header {
    display: flex;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    width: 100%;
    background-color: var(--color-dark);
    transition: left 0.25s;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
}
